h1 {
    background-color: #f3ec78;
    background-image: linear-gradient(#e66465, #9198e5);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}